/* Custom fonts */
@import url('../fonts/ladyice/stylesheet.css');
@import url('../fonts/nexa/stylesheet.css');


/* BASICS */
body{
  font-family: "nexa", serif;
  background-color: #fff;
}

h1, h2{
  font-family: "lady_ice", serif;
}

h3, h4, h5{
 font-family: "nexa", serif; 
}
hr {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 10px solid #393e51;
  float: left;
}


/* HEADER */
.logo {
  padding: 0px;
  float: left;
  height: 125px;    
  background-color: #393e51;  
} 
.navbar-fixed-top {
  background-color: #fff;
  height: 98px;
}
.navbar-right {
  float: right !important;
  margin-right: -15px;
  margin-top: 15px;
}
li.separator a {
  padding: 18px;
}
.navbar-nav > li {
  float: left;
  text-align: center;
  margin-left: 20px;
}
.navbar-nav>li>a {
  line-height: 16px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #2b2f3e;
  background-color: #FAFAFA;
}
.top-nav-collapse {
        padding: 0;
    }

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
}

.conheca-section {
    padding-top: 100px;
}

.emandamento-section {
    padding-top: 100px;
}

.obras-section {
    padding-top: 100px;
}
.contato-section {
    padding-top: 100px;
}

/* SECTION SLIDER */

#header_slider{
  margin-top: 98px;
}
#header_slider h1{
  font-size: 60px;
}
#header_slider p{
  font-size: 22px;
  font-weight: 200;
}
  
#header_slider hr {
  width: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 3px solid #ced0d2;
  float: right;
}

.carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
  text-align: right;
}
.carousel-indicators {
  bottom: 20px;
  text-align: right;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
}
/* SECTION SLIDER */

#header_slider{
  margin-top: 98px;
}
#header_slider hr {
  width: 120px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 3px solid #ced0d2;
  float: right;
}

.carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
  text-align: right;
}
.carousel-indicators {
  bottom: 20px;
  text-align: right;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;

}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #c1c1c3;
    border: none;
}

/* SECTION CONHEÇA */

#conheca{
  padding: 80px 0;
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #c1c1c3;
    border: none;
}

/* SECTION CONHEÇA */

#conheca{
  padding: 80px 0;
}

#conheca p {
  margin-top: 20px;
  font-size: 14px;
  padding-right: 20px;
  text-align: justify;
  color: #5b5b5b;
}

#conheca h2{
  font-size: 54px;
  color: #000;
  margin-top: 15%;
}
#conheca h3{
  color: #393e51;
  line-height: 27px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 42px;
}
#conheca p {
  margin-top: 20px;
  font-size: 14px;
  padding-right: 20px;
  text-align: justify;
  color: #5b5b5b;
}

#conheca h2{
  font-size: 54px;
  color: #000;
  margin-top: 15%;
}
#conheca h3{
  color: #393e51;
  line-height: 27px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 42px;
}


/* SECTION EM ANDAMENTO */

#emandamento p {
  
  color: #FFF;
  margin-top: 20px;
  float: left;
}
#emandamento h1 {
  font-size: 37px;
  color: #fff;
  margin-top: 15%;
}
#emandamento h3 {
 font-size:18px;
 float:left;
 width: 100%;

=======
}
#emandamento h1 {
  font-size: 37px;
  color: #fff;
  margin-top: 15%;
}
#emandamento .carousel .carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
  text-align: left;
}
#emandamento .carousel .carousel-caption h2 {
  font-size: 54px;
  margin-left: 45%;
  color: #000;
  margin-top: 15%;
}
#emandamento hr {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 10px solid #FFFFFF;
  float: left;
}
#emandamento .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
    height: 575px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  height: 500px;
}
#emandamento .logo {
  padding: 0px;
  float: left;
  height: 125px;
  background-color: transparent;
}
.mansory{
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 50px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  height: 100%;
}
.mansory{
  position: absolute;
  /* left: 15%; */
  /* right: 15%; */
  bottom: 20px;
  z-index: 10;
  /* padding-top: 20px; */
  color: #fff;
  text-align: center;

}


/* SECTION OBRAS CONCLUÍDAS */
.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
    
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}

}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}

.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}

/* SECTION CONTATO */

#contato h2 {
  font-size: 54px;
  color: #fff;
  margin-top: 15%;
}
#contato hr {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 10px solid #89a7b1;
  float: left;
}
#contato strong {
  color: #89a7b1;
  font-size: 24px;
}
#contato p {
  color: #fff;
}

/* form */
.red{
    color:red;
    }
.form-area
{
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  color: #fff !important
  ;
 
}
.form-group {
  margin-bottom: 5px;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #FFF;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}.pull-right {
  float: right !important;
  color: #000;
  padding: 10px;
}
.pull-right {
  float: right !important;
  color: #000;
  padding: 10px;
}

/* SECTION MAPA */
#mapa .btn {
  position: absolute;
  /* float: right !important; */
  display: inline-block;
  padding: 10px 15px;
  /* padding-top: 7px; */
  margin-bottom: 0;
  margin-top: 22%;
  margin-left: 80%;
  font-size: 25px;
  line-height: 29px;
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  /* -webkit-border-radius: 3px; */
  /* -webkit-border-radius: 3px; */
  /* -webkit-border-radius: 3px; */
  background-image: none !important;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mapa .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

#mapa .btn-primary {
  color: #fff;
  background-color: #393E51;
  border-color: #393E51;
  font-size: 20px;
}

#mapa .btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
background-color: transparent;
-webkit-box-shadow: none;
box-shadow: none;
}
#mapa .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
#mapa .btn-link {
color: #5e5e5e;
background-color: transparent;
border: none;
}
#mapa .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
#mapa .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}


/* SECTION RODAPE */

#footer{
  background-color: #fff;
=======
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}

/* SECTION CONTATO */

#contato h2 {
  font-size: 54px;
  color: #fff;
  margin-top: 15%;
}
#contato hr {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 10px solid #89a7b1;
  float: left;
}
#contato strong {
  color: #89a7b1;
  font-size: 24px;
}
#contato p {
  color: #fff;
}

/* form */
.red{
    color:red;
    }
.form-area
{
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  color: #fff !important
  ;
 
}
.form-group {
  margin-bottom: 5px;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #FFF;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}.pull-right {
  float: right !important;
  color: #000;
  padding: 10px;
}
.pull-right {
  float: right !important;
  color: #000;
  padding: 10px;
}