	/*----------------------------------------------------
			   {--------}  GERAL  {--------}
	----------------------------------------------------*/
	* 			{ margin:0; padding:0; border:0; outline:0; }
	a			{ text-decoration:none; color:#666;}
	a:hover 	{ text-decoration:underline;}
	ul li		{ list-style:none;}	
	html 		{ overflow: -moz-scrollbars-vertical; height:100%; }
	body 		{ font-family: Tahoma, Geneva, sans-serif; color:#666666; background-color:#666b65;}
	.global 	{ overflow:hidden; width:100%; background-color:#FFFFFF;}
	.centro		{ width:980px; margin:0 auto;}	
	.mb8		{ margin-bottom:8px !important;}
	.bn			{ background:none !important;}
	.bt			{ border:1px solid red;}
	.cb			{ clear:both !important;}
	.cd			{ cursor:default !important;}
	.cp			{ cursor:pointer !important;}
	.db			{ display:block;}
	.dn			{ display:none;}
	.fl 		{ float:left !important; }
	.fr 		{ float:right !important; }
	.m0			{ margin:0 !important; }
	.pr			{ position:relative !important;}
	.bc			{ border:1px solid #930;}
	p			{ font-family:'ProximaNovaRegular', Tahoma, Geneva, sans-serif; font-size:13px; color:#666666; }
	h1, h2, h3, p, b{ font-weight:normal; font-style: normal;}
	h1	 		{ font-family:'ProximaNovaRegular', Tahoma, Geneva, sans-serif;}
	h2			{ font-family:'ProximaNovaBold', Tahoma, Geneva, sans-serif;}
	h3			{ font-family:'ProximaNovaRegular', Tahoma, Geneva, sans-serif;}

	/*----------------------------------------------------
			   {--------}  TOPO  {--------}
	----------------------------------------------------*/
	/*-BUSCA-*/
	.top 		{ width:100%; height:245px; background:#FFFFFF url('../images/fundo-top.jpg') repeat-x top; }
	#logo		{ float:left; margin:25px 0 0 18px; cursor:pointer;}
	/*----------------------------------------------------
			   {--------}  CONTEUDO  {--------}
	----------------------------------------------------*/
	.content	{ width:100%; height:500px; padding:0; background-color:#FFFFFF; overflow:hidden;}

	/*----------------------------------------------------
			   {--------}  HOME  {--------}
	----------------------------------------------------*/


	/*----------------------------------------------------
			   {--------}  FORMULARIOS  {--------}
	----------------------------------------------------*/
	/* Busca topo 
	#formLogin, #formEsqueci		{ width:415px; height:50px; float:right; margin:32px 12px 0; display:none;}
	#formEsqueci					{ width:346px;}
	#formBusca						{ width:205px; height:33px; float:right; margin:32px 10px 0 0px;}
	input[type="text"], input[type="password"], textarea	{ font-family:'ProximaNovaRegular', Tahoma, Geneva, sans-serif; font-size:13px; color:#666666; height:32px; line-height:33px; padding:0 15px 0 5px; resize:none; overflow:auto;}
	input[type="text"].inputBusca	{ background:url('../images/input-busca.png') no-repeat; float:left; width:152px; line-height:37px; font-size:16px; padding:0 5px 0 15px; font-family:'ProximaNovaBold', Tahoma, Geneva, sans-serif;}
	input[type="text"].inputLogin	{ background:url('../images/fundo-input-login.png') no-repeat; width:197px; float:left; padding:0 13px; margin-right:10px; line-height:37px;}
	input[type="password"].inputSenha{ background:url('../images/fundo-input-log-senha.png') no-repeat; width:84px; float:left; padding:0 13px; margin-right:10px; line-height:37px;}
	#sendBusca						{ background:url('../images/send-busca.png') no-repeat; width:33px; height:33px; float:right; cursor:pointer; }
	#boxOk							{ background:url('../images/button/ok-ov.png') no-repeat; width:53px; height:32px; float:left; cursor:pointer;}
	#sendAccess						{ background:url('../images/button/ok.png') no-repeat; width:53px; height:32px; cursor:pointer; z-index:9999;}
	#boxSolicitar					{ background:url('../images/button/solicitar-senha-login-ov.png') no-repeat; width:104px; height:32px; float:left; cursor:pointer; }
	/* Busca Select top */
	/* geral forms 
	::-webkit-input-placeholder { color:#666666;} 
	::-moz-placeholder 			{ color:#666666;} /* Firefox 19+ 
	:-ms-input-placeholder 		{ color:#666666;} /* IE 
	input:-moz-placeholder 		{ color:#666666;} 
	#validateMessageBI			{ color:#c10f1a;}

	/*----------------------------------------------------
			   {--------}  RODAPE  {--------}
	----------------------------------------------------*/
	.footer			{ width:100%; height:320px; }
	.footerImg		{ width:100%; height:320px;}
	
	/*----------------------------------------------------
			   {--------}  OVER  {--------}
	----------------------------------------------------*/
	#cp:hover	{ text-decoration:underline;}
