/* Custom fonts */
@import url('../fonts/ladyice/stylesheet.css');
@import url('../fonts/nexa/stylesheet.css');


/* BASICS */
body{
  font-family: "nexa", serif;
}
h1, h2{
  font-family: "lady_ice", serif;
}
h3, h4, h5{
 font-family: "nexa", serif; 
}


/* HEADER */
.logo {
  padding: 0px;
  float: left;
  height: 125px;    
  background-color: #393e51;  
} 
.navbar-fixed-top {
  background-color: #fff;
  height: 98px;
}
.navbar-right {
  float: right !important;
  margin-right: -15px;
  margin-top: 15px;
}
li.separator a {
  padding: 18px;
}
.navbar-nav > li {
  float: left;
  text-align: center;
  margin-left: 20px;
}
.navbar-nav>li>a {
  line-height: 16px;
}

/* SECTION SLIDER */
#header_slider{
  margin-top: 98px;
}